.container{
  *{
    padding: 0;
    margin: 0;
  }
  h1{
    font-size: 10rem;
    margin-bottom: 10px;
  }
  h2{
    font-size: 5rem;
  }
  .headContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(49, 121, 74, 0.1);

    padding: 0 20px;

    img{
      width: 80%;
    }
  }
  span{
    white-space: pre-line;
    font-size: 1.5rem;
  }
}