.container{
  *{
    padding: 0;
    margin: 0;
  }
  margin-left: 20px;
  h1{
    font-size: 10rem;
    margin-bottom: 10px;
  }
  h2{
    font-size: 5rem;
  }
  .track_info{
    h3{
      font-size: 5rem;
      margin-bottom: 5px;
    }
    p{
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 40px;
    }
  }
  span{
    white-space: pre-line;
    font-size: 1.5rem;
  }
}